/* Cores Globais */
:root {
    --fundo: #0d0d0d;
    --roxo-principal: #9d4edd;
    --rosa-detalhe: #e91e63;
    --card-fundo: #1a0b2e;
}

body {
    background-color: var(--fundo);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

/* Estilo das Capas (Grid) */
.lista-obras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card-manga {
    background: var(--card-fundo);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333;
    transition: 0.3s;
}

.card-manga img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-info { padding: 10px; text-align: center; }
.card-info h3 { font-size: 0.9rem; margin: 5px 0; }

.btn-cap {
    display: block;
    background: #000;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    border: 1px solid var(--roxo-principal);
}
